build/
dist/
venv/
site/
resources/amazon-corretto-11.0.16.9.1-linux-x64
resources/ThetaTerminal.jar
resources/corretto-11.0.16.1-win
dev/
dev/dev.py
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pycharm
.idea/
PythonAPI.iml
