site_name: Theta Data Python Documentation

theme:
  name: material
  logo: logo.png
  palette:
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: indigo

    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

repo_url: https://github.com/ThetaData-API/PythonAPI
repo_name: ThetaData-API/PythonAPI

markdown_extensions:
  - pymdownx.highlight:
      linenums: false
      anchor_linenums: true
      auto_title: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences 


plugins:
- mkdocstrings:
    handlers:
      python:
        rendering:
            show_if_no_docstring: yes
        options:
          docstring_style: sphinx
          show_root_heading: true

nav:
- index.md
- tutorials.md
- reference.md
- explanation.md
